div img,
div img:hover {
  transition: 0.5s ease-in-out;
}
div,
footer {
  text-align: center;
}
header {
  margin-top: 3em;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 6em 6em;
}
div {
  background-color: #724bad;
  color: #f8f1ff;
  display: inline-block;
  padding: 2em;
  margin: 0.8em;
  border-radius: 16px;
  box-shadow: 6px 6px 12px rgba(122, 74, 218, 0.2);
}
div img {
  width: 200px;
  border-radius: 100px;
}
div img:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
div a {
  all: unset;
}
div h2 {
  text-transform: capitalize;
}
div p {
  color: #d3d3d3;
}
div a:active,
div a:hover {
  cursor: pointer;
}
footer p a {
  text-decoration: none;
}
footer p a:active,
footer p a:hover {
  text-decoration: underline;
}
footer {
  font-weight: 400;
  margin-bottom: 100px;
}
footer a {
  font-size: 2em;
  padding-bottom: 3em;
}
footer p {
  margin: 0.5em auto;
}
