div img,
div img:hover {
  transition: 0.5s ease-in-out;
}
div,
footer {
  text-align: center;
}
header {
  margin-top: 3em;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 6em 6em;
}
div {
  background: radial-gradient(#b0f3f1, #ffcfdf);
  color: #111111;
  display: inline-block;
  padding: 2em;
  border-radius: 16px;
}
div img {
  width: 200px;
  border-radius: 100px;
  margin-bottom: 1rem;
}
div img:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
div a {
  all: unset;
}
div h2 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1rem;
}
div p {
  color: #3a3a3a;
  font-size: 1rem;
  margin-top: 0;
}
div a:active,
div a:hover {
  cursor: pointer;
}
footer p a {
  text-decoration: none;
}
footer p a:active,
footer p a:hover {
  text-decoration: underline;
}
footer {
  font-weight: 400;
  margin-bottom: 100px;
}
footer a {
  font-size: 2em;
  padding-bottom: 3em;
  color: #f3f3f3;
}
footer p {
  margin: 0.5em auto;
}
