main h1{
  margin: 2rem 3rem 0 3rem;
}
main{
  display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  margin: 2em auto;
}

main section {
  width: 85%;
  margin: 3rem auto 2rem auto;
  background-color: rgba(230, 230, 230, 0.7);
  box-sizing: border-box;
  text-align: justify;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  
}

main section h2 {
  font-size: 2.2rem;
  margin-bottom: 0;
  margin-top: 0;
}



main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  padding: 0 0 0 2rem;
  border-left: 0.25rem rgb(221, 53, 53) solid;
  margin-top: 0.4rem;
}

main section a {
  text-decoration: none;
  display: inline;
  color: #1f1f1f;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  background-color: rgb(239, 138, 122);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
}

main section a:hover,
main section a:active {
  background-color: rgb(239, 100, 79);
}

footer {
  text-align: center;
  margin-bottom: 4rem;
}

footer a{
  text-decoration: none;
  padding: 1rem 2rem;
  color: #f3f3f3;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #B91372 0%, #6B0F1A);
  border-radius: 10px;
  display: inline-block;
}

footer a:hover,
footer a:active{
  background: linear-gradient(90deg, #ab1269 0%, #550c15 100%);

}

footer p{
  margin: 0.5rem;
}
footer
#last-paragraph{
  display: inline-block;
  margin-right: 1rem ;
}

